<red-section [title]="'Welcome'">
    This app will help you find voters card registration centers around you. We are currently loading the locations, they will appear below as soon as they are available. Please select any location to begin.
</red-section>
<section class="generic-banner relative" *ngIf="!loading">
        <div class="">
            <div class="row full-height justify-content-center">
                <div class="col-xs-12 col-lg-12 page-container">
                    <div class="banner-content" style="display: flex">
                        <div class="col-md-7 col-lg-8 d-none d-md-block">
                            <router-outlet></router-outlet>
                        </div>
                        <div class="col-md-5 col-lg-4 d-none d-md-block">
                            <list-item
                            *ngFor="let l of locations;trackBy:trackByFn" 
                            [location]="l"
                            [isMobile]="false">
                            </list-item>
                        </div>
                        <div class="col-xs-12 d-block d-md-none">
                            <list-item
                            *ngFor="let l of locations;trackBy:trackByFn" 
                            [location]="l">
                            </list-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<loading *ngIf="loading"></loading>