// component css goes here
div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    img{
        margin-bottom: 20px;
        animation: shrink 2s infinite alternate;
    }
}

@keyframes shrink {
  0% {
    width: 120px
  }
  100% {
    width: 150px
  }
}