<!--component html goes here -->
<section class="generic-banner element-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center" 
                style="height: 300px;">
                <div class="col-lg-12">
                    <div class="banner-content text-center">
                        <h2 class="text-white">{{title}}</h2>
                        <p class="text-white">
                            <ng-content></ng-content>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>