// component css goes here
div {
    .footerLinks{
        position: fixed;
        bottom: 0px;
        background: #000;
        height: 100px;
        width: 100%
    }
    .map-container{
        width: 100%;
        height: 90%;
        margin-top: 20px;
    }
}
