<!-- Start Header Area -->
<header class="default-header">
        <div class="header-wrap">
            <div class="header-top d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="index.html"><img src="img/logo.png" alt=""></a>
                </div>
                <div class="main-menubar d-flex align-items-center">
                    <nav class="hide">
                        <a href="index.html">Home</a>
                        <a href="generic.html">Generic</a>
                        <a href="elements.html">Elements</a>
                    </nav>
                    <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                </div>
            </div>
        </div>
    </header>
<!-- End Header Area -->